<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

    <div class="About App">
       <h2>About App</h2>
       <p><strong>Blogs app is created as part of kubernetes training to be built as microservice</strong>.<br>
        This app is connected to mongodb as backend for stateful deployment.<br>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>