<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<!-- using ejs tags  to view dynamic content-->
  <% const name ="Mina"  %>

  <%- include('./partials/nav.ejs') %>
    
    <div class="blogs contents">
       <h2>all Users from serviceB</h2>
       
       <p class="snippet"> <%= users %> </p>
    
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>