<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

    <div class="About App">
       <h2>About ServiceB</h2>
       <p><strong>Service B is Just simple python flask app with get endpojnt as POC of microservice app.<br>
        </p>
    
        class="create-blog">
        <form action="http://serviceb-svc.serviceb">
            <input type="submit" value="Get Users" />
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>