<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

    <div class="About App">
       <h2>About ServiceB</h2>
       <p><strong>Service B is Just simple python flask app with get endpojnt as POC of microservice app.<br>
        </p>
    
        <form action="/serviceb/getusers" method="GET">
            
            <button>GET Users</button>


        </form>
    </div>
    <%- include('./partials/footer.ejs') %>



</body>
</html>