<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

    <div class="About App">
       <h2>About ServiceB</h2>
       <p><strong>Service B is Just simple python flask app with get endpojnt as POC of microservice app.<br>
        </p>
    
        <button onclick="myJavascriptFunction()">GET USERS</button>
    </div>
    <%- include('./partials/footer.ejs') %>

    <script>
        function myJavascriptFunction() {
          // Your javascript code to bring data from database. 
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open( "GET", "serviceb-svc.serviceb:80/users", false ); // false for synchronous request
          xmlHttp.send( null );
          return xmlHttp.responseText;
        }
    </script>


</body>
</html>